# Anchor / Solana
target/
.anchor/
test-ledger/
.DS_Store

# Rust
Cargo.lock

# TypeScript / Node
node_modules/
dist/
*.js
*.js.map
*.d.ts

# IDE
.idea/
.vscode/
*.swp
*.swo
/docs/
/hyperlane-typescript/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Build artifacts
*.so
deploy/

# Test
coverage/
.nyc_output/
/website/

